*{
    font-family: 'Montserrat', sans-serif;
    color: #011c37;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #eaf3fa;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex-direction: column;
}
.fixed{
    position: fixed;
}
.menu{
    align-items: center;
    transition: all .1s;
}
.menu:hover{
    cursor: pointer;
}
.menu h2{
    color: #2b193f;
    margin-right: 1em;
}
nav{
    
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 3;
    height: 4em;
    align-items: center;
    justify-content: space-between;
    transition: all .25s;
}
.detect{
    position: absolute;
    bottom: -60px;
    height: 1em;
    width: 1em;
   
}
.menu h3{
    margin-right: 1em;
    font-size: 20px;
    color: #2b193f;
}
.menu_btn{
    height: 40px;
    width: 40px;
    justify-content: space-around;
    margin-right: 3em;
    background-color: transparent;
    flex-wrap: nowrap;
    transition: height .2s;
    
}
.menu_hover {
    height: 45px;
}
.menu_see_through{
    opacity: .5;
}
.menu :hover{
    cursor: pointer;
}
.menu_btn i{
    width: 40px;
    height: 4px;
    background-color: #2b193f;
    display: block;
    transition: transform .25s;
}
.logo{
    color: #2b193f;
    margin: 0;
    font-size: 30px;
    margin-left: 1em;
    transition: all .25s;
}
.solid_nav{
    background-color: #2b193f;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.solid_logo{
    color: #eaf3fa !important;
}
.solid_btn{
    background-color: #eaf3fa !important;
}
a{
    text-decoration: none;
}

.nav_page{
    background-color: rgba(43, 25, 63,.9);
    width: 100vw;
    height: 100vh;
    top: -120%;
    position: fixed;
    transition: all .25s;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.nav_active{
    top: 0;
    opacity: 1;
}
.nav_link {
    opacity: 0;
    margin-right: 8em;
    color: #eaf3fa;
    font-size: 60px;
    background-image: linear-gradient(#eaf3fa, #eaf3fa);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5%;
    transition: margin 1s, opacity 1s, background-size .5s;
    
}
.nav_link:hover{
    background-size: 100% 5%;
}
.active_nav_link{
    opacity: 1;
    margin-right: 0;
}
.shrink{
    height:4px;
}
.absolute{
    position: absolute;
}
.top_bar {
    transform: rotate(45deg);
}
.mid_bar{
    opacity: 0;
}
.bottom_bar {
    transform: rotate(-45deg);
}

.home_banner{
    height: 45em;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 3px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5em;
}
.home_banner img{
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: .7;
    
}
.home_banner h3, .home_banner h1{
    margin-left: 20px;
    color: #eaf3fa;
    width: fit-content;
    padding: 15px;
}
.home_banner h1{
    background-color: #2b193f;
    font-size: 80px;
    
}
.home_banner h3{
    background-color: #695065;
    font-size: 25px;
    font-weight: 400;
}
.home_banner svg{
    position: absolute;
    top: 2em;
    left: 2em;
}
.disclaimer{
    margin: 0 auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.disclaimer p{
    width: 60%;
    text-align: center;
    margin-left: 1em;
    font-weight: 700;
}
.disclaimer img{ 
    width: 5%;
}

.select_pricing,.find_tutors{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 1em;
}
.select_pricing h2,.find_tutors h2{
    font-size: 40px;

}
.card_container{
    justify-content: space-around;
    width: 80%;   
    margin-top: 2em;
    margin-bottom: 2em;
}

.card{
    width: 20em;
    height: 20em;
    align-items: center;
    justify-content: space-around;
    background-color: #f9fcff;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 0px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
    border-radius: 10px;
    margin-top: 2.5em;

}
.card img{
    height: 4em;
    width: 4em;
}
.card h3{
    font-size: 25px;
}
.card p{
    font-size: 18px;
    width: 75%;
    font-weight: 500;
    text-align: center;
}
footer{
    height: 32em;
    background-color: #2b193f;
    position: absolute;
    left: -.5em;
    
    width: 100vw;
   
}
footer h2, footer form{
    margin-left: 50px;
}
footer h2{
    color: #eaf3fa;
    font-size: 50px;
}
.contact{
    width: 50%;
    
}
.contact_form{
    height: 22em;
    justify-content: space-around;
    
}
input,textarea{
    
    background-color: #eaf3fa;
    font-size: 20px;
    border: none;
    width: 30em;
}
input{
    height: 2.5em;
}
button{
    background-color: #acc7d8;
    color: #2b193f;
    width: fit-content;
    padding: .5em;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    border:none;

}


.courses_selector h3{
    background-image: linear-gradient(rgba(172, 199, 216,.5), rgba(172, 199, 216,.5));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    width: fit-content;
    transition: background-size .5s;
    cursor: pointer;
    padding: .3em;
    margin: .5em 1em .75em 0;
    
    font-size: 27px;
}
.highlighted{

    background-size: 100% 100% !important;
}

.courses{
    
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
}
.courses h1{
    font-size: 50px;

}
.courses_selector, .course_list{
    width: 50%;
    height: fit-content;
}
.course_list h2{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    opacity: 0;
    transition: opacity .25s;
}
.course_list li{
    font-size: 30px;
    line-height: 1.4;
}
.main_courses_content{
    height: 42em;
}
.course_list ul{
    opacity: 0;
    transition: opacity .25s;
}
.show{
    opacity:1 !important;
}

.select_pricing p{
    font-weight: 500;
    font-size: 20px;
}
.category h2{
    font-size: 30px;
}
.category h4{
    
    background-color: #f9fcff;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.1), 0px 0px 0px 0 rgba(0, 0, 0, 0.19);
    padding: .5em;
    border-radius: 5px;
    font-size: 20px;
    margin: .5em;
    width: fit-content;
}



.category{
    align-items: center;
}
.row{
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2em;
}
.select_pricing{
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
}
table{
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
    
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    
}
table thead tr{
    background-color: #2b193f;
    
}
table thead th{
    color: #eaf3fa;
    min-width: 150px;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}
th,td{
    padding: 12px 15px;;
    font-weight: 500;
    
    
}

.cat{
    min-width: 70px !important;
}
tbody tr{
    border-bottom: 1px solid #011c37;
    background-color: #f9fcff;
    transition: all .1s;
}
/* tbody tr:nth-of-type(even){
    background-color: #f9fcff;
} */
tbody tr:last-of-type{
    border-bottom: 3px solid #2b193f;
}
.active{
    background-color: #eaf3fa;
}

.sign_up{
    align-items: center;
    margin-bottom: 2em;
}
.sign_up h2{
    font-size: 40px;
}
.sign_up p {
    
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.sign_up h3{
    font-weight: 600;
    font-size: 25px;
    width: fit-content;
    border-radius: 50px;
    height: fit-content;
    padding: .5em .75em;
    border: rgba(1, 28, 55,1) solid 2px;
    background-image: linear-gradient(rgba(1, 28, 55,.9),rgba(1, 28, 55,.9));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: all .5s;
    cursor: pointer;
    
}
.sign_up h3:hover{
    background-size: 100% 100%;
    color: #f9fcff;
}

/* TESTIMONIALS */


.next img,.back img{
    width: 4em;
    margin: 1em;
    cursor: pointer;
    transition: all .25s;
}
.next img:hover,.back img:hover{
    width: 5em;
    margin: .5em;
      
}
.testimonials{
    align-items: center;
    margin-bottom: 3em;
}
.testimonials h2{
    font-size: 40px; 
}

.testimonial_selection{
    margin-top: 3em;
    justify-content: center;
}
.selector{
    height: 30px;
    width: 30px;
    background-color:#acc7d8;
    border-radius: 100%;
    margin: 3px;
    transition: all .5s;
    cursor: pointer;
}
.selected{
    background-color:#011c37;
}
.gallery{
    justify-content: space-around;
    align-items: center;
    width: 80%;
    min-height: 300px;
}
.testimonial_text{
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: 300;

    transition: all .5s;
}

.disappear{
    opacity: 0;
}
.bold{
    font-weight: 500;
}

.table_container{
    width: 90%;
    overflow-x: scroll;
    margin: 0 auto;
}